/* test so we know everything is working */
.showcase #main-title {
  color: hotpink;
  justify-self: center;
  text-align: center;
}

/* edited grid containers */
.grid-container {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 650px 650px 650px 700px auto 300px;
  grid-template-areas:
    'transform-img'
    'transform-para'
    'standout-para'
    'standout-img'
    'graphic-design'
    'photography'
    'testimonials'
    'testimonials'
    'gallery'
    'gallery'
    'main-footer'
    'main-footer';
}

p {
  font-size: 16px;
}

.transform-img {
  grid-area: transform-img;
  background: url(../img/desktop/image-transform.jpg) no-repeat center
    center/cover;
  background-attachment: fixed;
  height: 100%;
  max-width: 100%;
}

/* start here - figure out how to prevent th eoverflow etc */

.transform-para {
  grid-area: transform-para;
  place-self: center;
  padding-top: 15px;
  height: 100%;
  max-width: 100%;
}

.transform-para h2,
.transform-para p,
.transform-para a {
  text-align: left;
  padding: 10px 10px 25px 50px;
}

.standout-img {
  grid-area: standout-img;
  background: url(../img/desktop/image-stand-out.jpg) no-repeat center
    center/cover;
}

.standout-para {
  grid-area: standout-para;
  background: var(--neutral-background);
  background-size: contain;
  place-self: center;
  padding-top: 175px;
  height: 100%;
  max-width: 50vw;
}

.standout-para h2,
.standout-para p,
.standout-para a {
  text-align: left;
  padding: 10px 150px 25px 150px;
}

.graphic-header,
.photography-header {
  font-size: 2rem;
}

.graphic-header {
  color: var(--graphic-color);
}

.photography-header {
  color: var(--photography-color);
}

.graphic-design {
  grid-area: graphic-design;
  background: url(../img/desktop/image-graphic-design.jpg) no-repeat center
    center/cover;
}

.graphic-design h2,
.graphic-design p {
  place-self: center;
  text-align: center;
  padding: 0px 130px 0px 130px;
  color: var(--graphic-color);
}

.graphic-design h2 {
  margin-top: 375px;
  margin-bottom: 25px;
}

.photography {
  grid-area: photography;
  background: url(../img/desktop/image-photography.jpg) no-repeat center
    center/cover;
  max-width: 50vw;
}

.photography h2,
.photography p {
  place-self: center;
  text-align: center;
  padding: 0px 130px 0px 130px;
  color: var(--photography-color);
}

.photography h2 {
  margin-top: 375px;
  margin-bottom: 25px;
}

/* Testimonials */

.tesimonial-contacts {
  display: flex;
  flex-flow: row wrap;
}

.testimonials img {
  border-radius: 50%;
  height: 100px;
  margin-top: -150px;
}

.testimonials h3 {
  margin-bottom: 130px;
}

/* Footer Gallery Images */

.gallery {
  margin-top: 100px;
}

.gallery-images {
  display: flex;
  flex-flow: row wrap;
}

.gallery-images img {
  width: 50%;
  height: 50%;
}

/* Footer */

.main-footer {
  grid-area: main-footer;
  background: var(--footer-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.main-footer h4 {
  padding-bottom: 30px;
  font-family: 'Barlow', sans-serif;
  font-size: 30px;
  color: var(--graphic-color);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.main-footer a {
  color: var(--graphic-color);
  font-family: 'Barlow', sans-serif;
}

.main-footer a:hover {
  color: #fff;
}

.main-footer ul {
  list-style: none;
}

/* Still need to sort the SVG styling and mobile responsiveness */

.social {
  padding-top: 60px;
  padding-bottom: 15px;
}
