/* Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
  --neutral-background: #fffbf8;
  --primary-gray: #262f3a;
  --p-text: hsl(232, 10%, 55%);
  --graphic-color: hsl(167, 40%, 24%);
  --photography-color: hsl(198, 62%, 26%);
  --light-gray: hsl(210, 4%, 67%);
  --footer-color: hsl(168, 34%, 41%);
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
}

/* Standard setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* So that all images don't go bigger than their containers */
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Showcase and Navigation */

.showcase {
  background: url('../img/desktop/image-header.jpg') no-repeat center
    center/cover;
  height: 100vh;
  position: relative;
}

.showcase #down-arrow {
  position: absolute;
  top: 46%;
  left: 50%;
}

.nav-list {
  list-style: none;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  margin-right: 3rem;
}

.nav-item a {
  font-family: 'Barlow', sans-serif;
  color: #fff;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
  font-size: 1.7rem;
}

.nav-item:last-child a {
  font-family: 'Fraunces', serif;
  color: var(--primary-gray);
  text-transform: uppercase;
  background: #fff;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
}

.nav-item:last-child a:hover {
  opacity: 0.4;
}

.showcase #main-title {
  display: flex;
  justify-content: center;
  height: 100vh;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Fraunces', serif;
  font-size: 4rem;
  letter-spacing: 0.1em;
  margin-top: 150px;
}

/* Grid container for the six boxes and below */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: 650px 650px 650px 700px auto 300px;
  grid-template-areas:
    'transform-para       transform-img'
    'standout-img        standout-para'
    'graphic-design      photography'
    'testimonials testimonials'
    'gallery gallery'
    'main-footer main-footer';
}

h2,
h3,
.cta {
  font-family: 'Fraunces', serif;
}

h2,
.cta {
  color: var(--primary-gray);
}

h2 {
  font-size: 3.5rem;
}

p {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  color: var(--p-text);
  padding-top: 35px;
  padding-bottom: 35px;
}

.cta {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  padding: 0 0.5em;
  margin-bottom: 1em;
}

.cta::after {
  content: '';
  position: absolute;
  bottom: 23px;
  left: 140px;
  height: 0.65em;
  width: 130px;
  z-index: -1;
  border-radius: 2em;
  opacity: 0.3;
}

.cta-yellow::after {
  background-color: var(--yellow);
}

.cta-softred::after {
  background-color: var(--softRed);
}

/* Needs fixing so that background spans the container */
.transform-para {
  grid-area: transform-para;
  background: var(--neutral-background);
  background-size: contain;
  place-self: center;
  padding-top: 175px;
  height: 100%;
  max-width: 50vw;
}

.transform-para h2,
.transform-para p,
.transform-para a {
  text-align: left;
  padding: 10px 150px 25px 150px;
}

.transform-img {
  grid-area: transform-img;
  background: url(../img/desktop/image-transform.jpg) no-repeat center
    center/cover;
  max-width: 50vw;
}

.standout-img {
  grid-area: standout-img;
  background: url(../img/desktop/image-stand-out.jpg) no-repeat center
    center/cover;
}

.standout-para {
  grid-area: standout-para;
  background: var(--neutral-background);
  background-size: contain;
  place-self: center;
  padding-top: 175px;
  height: 100%;
  max-width: 50vw;
}

.standout-para h2,
.standout-para p,
.standout-para a {
  text-align: left;
  padding: 10px 150px 25px 150px;
}

.graphic-header,
.photography-header {
  font-size: 2rem;
}

.graphic-header {
  color: var(--graphic-color);
}

.photography-header {
  color: var(--photography-color);
}

.graphic-design {
  grid-area: graphic-design;
  background: url(../img/desktop/image-graphic-design.jpg) no-repeat center
    center/cover;
}

.graphic-design h2,
.graphic-design p {
  place-self: center;
  text-align: center;
  padding: 0px 130px 0px 130px;
  color: var(--graphic-color);
}

.graphic-design h2 {
  margin-top: 375px;
  margin-bottom: 25px;
}

.photography {
  grid-area: photography;
  background: url(../img/desktop/image-photography.jpg) no-repeat center
    center/cover;
  max-width: 50vw;
}

.photography h2,
.photography p {
  place-self: center;
  text-align: center;
  padding: 0px 130px 0px 130px;
  color: var(--photography-color);
}

.photography h2 {
  margin-top: 375px;
  margin-bottom: 25px;
}

/* Testimonials */

.testimonials {
  grid-area: testimonials;
  background: var(--neutral-background);
}

.tesimonial-contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
}

.testimonials h3,
.name {
  font-family: 'Fraunces', serif;
}

.name {
  color: var(--primary-gray);
}

.testimonials .title {
  margin-top: -50px;
  margin-bottom: 120px;
}

.testimonials h3 {
  color: var(--light-gray);
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
}

.testimonials img {
  border-radius: 50%;
}

.testimonial-text {
  width: 400px;
}

/* Footer Gallery Images */

.gallery {
  grid-area: gallery;
}
.gallery-images {
  display: flex;
  flex-direction: row;
}

.gallery-images img {
  width: 100%;
  height: 100%;
}

/* Footer */

.main-footer {
  grid-area: main-footer;
  background: var(--footer-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.main-footer h4 {
  padding-bottom: 30px;
  font-family: 'Barlow', sans-serif;
  font-size: 30px;
  color: var(--graphic-color);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.main-footer a {
  color: var(--graphic-color);
  font-family: 'Barlow', sans-serif;
}

.main-footer a:hover {
  color: #fff;
}

.main-footer ul {
  list-style: none;
}

/* Still need to sort the SVG styling and mobile responsiveness */

.social {
  padding-top: 60px;
  padding-bottom: 15px;
}

/* 
  font-family: 'Barlow', sans-serif;
  font-family: 'Fraunces', serif; */
